.search-item {
  margin: 25px auto;
  width: 800px;
  border-top: 1px solid #ddd;
  padding: 10px;

  img {
    width: 100%;
    object-fit: contain;
    height: 150px;
  }

  h6 {
    font-size: 24px;
    color: blue;
  }

  p {
    margin: 5px; //by default it is 10px
  }

  span {
    margin-right: 10px;
  }
}
