.cart-page {
  margin-top: 40px;
  margin-bottom: 60px;

  h1 {
    text-align: center;
  }

  .details {
    img {
      height: 100px;
    }

    ul {
      justify-content: space-between;
      align-items: center;
      display: flex;
      list-style-type: none;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
    }
  }

  .summary {
    margin-top: 20px;
    margin-bottom: 20px;

    h3 {
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 5%;
      border: 1px solid #ddd;

      li {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
