.header-products-image {
  object-fit: contain;
  height: 500px;
  width: 100%;
}

.product-list-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  .product-item {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    margin-right: 25px;

    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
    }

    .product-details {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 15px;
      text-align: center;

      .product-name {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .product-footer {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
  }
}
