/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap" as *;

body {
  font-family: sans-serif;
}

.container {
  margin-right: 5%;
  margin-left: 5%;
}

h1 {
  color: blue;
}

.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form-input {
  margin-bottom: 20px;
  height: 35px;
  border: 1px solid blue;
  padding-left: 15px;
  color: blue;
}

.form-button {
  height: 35px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.error-msg {
  color: red;
}

.success-msg {
  color: green;
}

.carousel-caption {
  background-color: #6c757d7a;
  border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 5px;
}

.invalid-input {
  color: red;
  font-size: 12px;
  transform: translateY(-20px);
  text-align: left;
}

button:disabled {
  cursor: not-allowed;
}
