.user-auth {
  text-align: center;

  h1 {
    margin-top: 50px;
    margin-bottom: 80px;
  }

  .auth-toggle-link {
    margin-top: 20px;
    color: blue;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
  }
}
